commands:
    01_mongodb_install:
        command: |
            sudo pecl install mongodb
            sudo sed -i '/extension="mongodb.so"/d' /etc/php.ini

files:
    "/etc/php.d/mongodb.ini":
        mode: "000644"
        owner: root
        group: root
        content: |
            extension="mongodb.so"