commands:
  00_copy_env_file:
    command: "sudo mv /tmp/.env /var/app/staging/.env"

  01_give_permission_to_hooks:
    command: "chmod a+x -R /var/app/staging/.platform/hooks"

  02_give_permission_to_write:
    command: "chmod a+x -R /etc/php.d/"

  03_install_composer_dependencies:
    command: "sudo php -d memory_limit=-1 /usr/bin/composer.phar install --no-dev --no-interaction --prefer-dist --optimize-autoloader"

  07_clear_config:
    command: "php artisan config:clear"